<% if notice || alert %>
  <br>
  <div class="container">
  <div class="notification">
    <strong id="notice"><%= notice %></strong>
    <strong id="alert"><%= alert %></strong>
  </div>
</div>
<% end %>